server {
    listen 8080;

    location / {
      add_header   Access-Control-Allow-Origin "*" always;
      add_header   Access-Control-Allow-Methods "GET, POST, PATCH, OPTIONS" always;
      add_header   Access-Control-Allow-Headers "Content-Type" always;
      add_header   Strict-Transport-Security "max-age=31536000" always;
      add_header   X-Frame-Options deny;
      proxy_pass   http://10.5.0.3:9851;
    }
}
